/* Estilos generales */
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos de encabezados */
h1, h2, h3, h4 {
    color: #964B00; /* Marrón */
}

/* Estilos de la barra de navegación */
nav {
    border: 1px solid #964B00; /* Marrón */
    padding: 10px;
    background-color: #222; /* Negro */
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos del contenedor principal */
.contenedor {
    padding: 20px;
}

/* Estilos de las imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos de las secciones */
section {
    margin-bottom: 20px;
    overflow: hidden;
}

/* Estilos específicos para dispositivos más pequeños */
@media (max-width: 768px) {
    nav {
        text-align: center;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    img {
        margin-left: 0;
    }

    section {
        padding-right: 0;
    }
}
